<header class="site-header">
    <div class="header-inner">
        <div class="header-left">
        <a href="index.html" class="brand-logo">
            <img src="images/logo-blue-common.svg" alt="BLUE COMMON" class="header-logo-img">
            <div class="brand-text">
                <span>佐々木税務会計事務所</span>
                <span>行政書士事務所</span>
            </div>
        </a>
    </div>

    <div class="header-right">
        <nav class="desktop-nav">
            <ul>
                <li><a href="service.html">サービス紹介</a></li>
                <li><a href="plans.html">料金について</a></li>
                <li><a href="voice.html">お客様の声</a></li>
                <li><a href="about.html">事務所について</a></li>
                <li><a href="recruit.html">採用情報</a></li>
            </ul>
        </nav>
        <a href="contact.html" class="btn-inquiry">お問い合わせ</a>
        
        <button class="menu-toggle" aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    </div>
</header>
